Resolving a host is case sensitive

When resolving a host, the hostname must match the case exactly, to be found. Otherwise, the search just times out.
In my specific case, the hostname is converted to lowercase, and then won't be able to be resolved using this crate.

When I switch my m-DNS backend to use Avahi, it works fine. 

Is this something that is specified in the RFC and is working accordingly? 
Or is this a bug in the `mdns-sd` crate?

Per [RFC 6762 section 16](https://datatracker.ietf.org/doc/html/rfc6762#section-16), the hostname should be case insensitive. 

Based what I understand about your description, I've updated one of existing tests to verify that in PR #330. It shows that we are resolving hostname with case insensitivity. (However, the returned hostname is the queried one, not the original registered one, which I think it's a bug, but seems not exactly same as the problem you saw.)

Could you take a look at the changes in PR #330 , and see if it reflects your use case? If not, what's the difference? 



Hey, I looked at the test, and it seems to work fine in the test case.

However, when trying to resolve an external device that is in my network, the test also fails.
So the only difference seems to be, that in the test the service is published by the crate, and in my project, the device is an external one.

I believe I found the cause. The problem is, that the device I'm trying to resolve, responds with its original hostname, but the service daemon in this crate, responds with the actual queried one.

I added a `println` in [this](https://github.com/keepsimple1/mdns-sd/blob/main/src/service_daemon.rs#L2047) line, that will print the hostname. When I try to resolve a host, that was published my `mdns-sd` crate, it prints the following:

```
received dns respons with hostname: rpi-TEST.local.
```

rpi-TEST.local was the hostname I queried. The actual hostname is all uppercase.
When I'm trying to resolve my Shelly device in this case, I get this response:

```
received dns respons with hostname: shellyem3-485519D9A47A.local.
```

I queried the name in all lowercase. The crate then tries to find a hostname resolver for `shellyem3-485519D9A47A.local.`, which does not exist, because I queried the hostname `shellyem3-485519d9a47a.local.`, which was added into the resolvers map.

Thanks! I agree we should respond with the original registered service hostname. I will use the PR to work on a fix.

Seems like a good choice, seeing that avahi does it like this. And then for the hostname resolvers map, you will probably have to search the hostname with case insensitivity?

> And then for the hostname resolvers map, you will probably have to search the hostname with case insensitivity?

Yes, will do that.  I've updated the PR to reflect the fix. Would you be able to give it try ?  Thanks.

Everything works flawlessly now. Thank you!

@keepsimple1 I just noticed something, the host resolving works fine. However, discovering and resolving services seems to be broken now. I believe you have to yank to the 0.13.4 version.

I went through the code and found the bug, and I will open a PR.

Thanks for finding the issue and your PR. I've merged your fix and yanked 0.13.4 and published a new release 0.13.5. 